.col-md-12
  .row.result__row
    .col-md-1
    .col-md-10.text-primary
      .list-group
        .result__first{ 'v-show': 'scheduleTopBool'}
        .list-group-item.result__one{ 'v-show': 'scheduleInfoBool','v-for': 'schedule in scheduleInfo' }
          .row
            .col-6.col-md-2.result__one__border
              {{schedule.schedule_day}}
            .col-6.col-md-4.result__one__border
              {{schedule.theater_name}}
            .col-12.col-md-6.result__one__border
              {{schedule.work_name}}
          .row
            .col-6.col-md-2.result__one__border
              {{schedule.screen_name}}
            .col-6.col-md-2.result__one__border
              {{schedule.work_minutes}}
            .col-6.col-md-4.result__one__border
              {{schedule.start_time}}
            .col-6.col-md-4.result__one__border
              {{schedule.end_time}}
    .col-md-1
