%header.text-center
  theater_schedule

.container-fluid#js-theaterIndex{:style => "padding-left : 0px; padding-right : 0px;"}
  .choise
    = render 'choise'
  .result
    = render 'result'

%footer.text-center
  about copylight
